<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.markchan.ordinaryworld">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".OrdinaryWorldApplication"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicDrawTextActivity" />
        <activity android:name=".TextAlignActivity" />
        <activity android:name=".FontMetricsActivity" />
        <activity android:name=".TextBoundsActivity" />
        <activity android:name=".app.DrawAtSpecPosActivity" />
        <activity android:name=".app.DrawCenterAtSpecPosActivity" />
        <activity android:name=".app.DrawCenterAtRectActivity" />
        <activity android:name=".layout.StaticLayoutActivity" />
        <activity android:name=".layout.CenterStaticLayoutActivity" />
        <activity
                android:name=".PagerActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>